body, header{
    margin: 0;
}

.title{
    display:flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
    background-color: rgb(6, 61, 3);
    margin: 0;
    padding: 10px;
    color: white;
    border: 2px solid black
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    margin: 10px 0;
    padding: 10px;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: inherit
}

